$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: small;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  padding-left: 8px;
  padding-right: 8px;
}

.busho-header  {
  color: #fff;
}

.nav li a {
  padding: 8px 11px;
}

.sub-container {
  margin-top: 3px;
}

.fixed_bottom {
  margin-bottom: 0;
  border-width: 1px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.search-result {
  margin-top: 5px;
}

.navbar-footer {
  background-color: #eee;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel {
  margin-bottom: 10px;
}

.panel-body-small {
  padding: 5px;
}

.tooltip {
  @include make-xs-column(1, 10px);
}
.content-mini {
  @include make-xs-column(2, 10px);
}
.content-sub {
  @include make-xs-column(3, 10px);
}
.content-four {
  @include make-xs-column(4, 10px);
}
.content-five {
  @include make-xs-column(5, 10px);
}
.content-main {
  @include make-xs-column(6, 10px);
}
.content-detail {
  @include make-xs-column(12, 10px);
  margin-top: 5px;
}

.btn-sm-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:not(.active) {
    background-color: $btn-default-bg;
  }
  padding: 6px 17px 6px 17px;
}

.btn-sm-single {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:not(.active) {
    background-color: $btn-default-bg;
  }
  padding: 6px 15px 6px 15px;
}

.btn-sm-narrow {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:not(.active) {
    background-color: $btn-default-bg;
  }
  padding: 6px 12px 6px 12px;
}

.btn-sm-sort {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  &:not(.active) {
    background-color: $btn-default-bg;
  }
  padding: 6px 17px 6px 17px;
}

// buke color
.btn-oda {
  @include button-variant(#fff, #1A63E7, #ccc);
  &:not(.active) {
    background-color: #1A63E7;
  }
}
.btn-takeda {
  @include button-variant(#fff, #C31419, #ccc);
}
.btn-uesugi {
  @include button-variant(#fff, #A9A9A9, #ccc);
}
.btn-imagawa {
  @include button-variant(#fff, #951CB7, #ccc);
}
.btn-azai-asakura {
  @include button-variant(#fff, #E17F9D, #ccc);
}
.btn-honganji {
  @include button-variant(#fff, #708A3C, #ccc);
}
.btn-houjou {
  @include button-variant(#fff, #F0C71D, #ccc);
}
.btn-mouri {
  @include button-variant(#fff, #00C993, #ccc);
}
.btn-simadu {
  @include button-variant(#fff, #1BA5C8, #ccc);
}
.btn-toyotomi {
  @include button-variant(#fff, #FF9705, #ccc);
}
.btn-date {
  @include button-variant(#fff, #1327BE, #ccc);
}
.btn-tokugawa {
  @include button-variant(#fff, #5CB84C, #ccc);
}
.btn-tyousokabe {
  @include button-variant(#fff, #928FFA, #ccc);
}
.btn-sanada {
  @include button-variant(#fff, #4F061E, #ccc);
}
.btn-take {
  @include button-variant(#fff, #7F7A26, #ccc);
}
